<div class="footer bg-dark">
  <div class="mx-auto w-50">
    <p class="text-white text-center h3 pt-3 pb-3">
      Copyright&copy; by HuyTQ58
    </p>
    <div class="infomation text-white">
      <div class="mb-2">
        <i class="fas fa-user text-success"> </i> Name: Trần Quang Huy em anh
        Thang
      </div>
      <div class="mb-2">
        <i class="fas fa-phone-alt text-warning"> </i> Phone: 0943 42 9779
      </div>
      <div class="mb-2">
        <i class="fas fa-at text-danger"></i> Mail: quanghuy5595hna@mail.com
      </div>
    </div>
  </div>
</div>
