<div class="home">
  <div class="p-5 body-home">
    <!-- _________________________________________________________________ -->
    <div class="phim-de-cu mb-5">
      <p class="content pb-2 font-weight-bold">phim đề cử</p>
      <div class="list-film row justify-content-between">
        <div class="col-2">
          <div class="card bg-dark text-white" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Card title</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- _________________________________________________________________ -->
    <div class="phim-le-moi mb-5">
      <p class="content pb-2 font-weight-bold">phim lẻ mới cập nhật</p>
      <div class="list-film row justify-content-between">
        <div class="col-2">
          <div class="card bg-dark text-white" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Card title</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- _________________________________________________________________ -->
    <div class="phim-bo-moi mb-5">
      <p class="content pb-2 font-weight-bold">phim bộ mới cập nhật</p>
      <div class="list-film row justify-content-between">
        <div class="col-2">
          <div class="card bg-dark text-white" style="width: 18rem">
            <img src="..." class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Card title</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
