<div class="home">
  <!-- <div class="header">
    <video autoplay preload="auto" loop playsinline>
      <source
        type="video/webm"
        src="https://cdn.cloudflare.steamstatic.com/apps/dota2/videos/dota_react/homepage/dota_montage_webm.webm"
      />
    </video>
  </div> -->

  <div class="p-5 body-home">
    <!-- _________________________________________________________________ -->
    <div class="phim-de-cu mb-5 pt-5 mt-5">
      <p class="content pb-2 font-weight-bold">phim đề cử</p>
      <div class="list-film row justify-content-center mt-5">
        <div
          *ngFor="let hotMovie of listHotMovie.results"
          (click)="showDetail(hotMovie)"
          class="col-2 mr-4 pb-5"
        >
          <div class="card bg-dark text-white" style="width: 15.5rem">
            <img
              style="max-width: 100%"
              src="https://image.tmdb.org/t/p/w500{{ hotMovie.poster_path }}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title mb-1">
                {{ hotMovie.original_title }} ({{
                  hotMovie.release_date | date: "yyyy"
                }})
              </h6>
              <p class="card-text">
                Rate: {{ hotMovie.vote_average }} <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- _________________________________________________________________ -->
    <div class="phim-le-moi mb-5">
      <p class="content pb-2 font-weight-bold">phim sắp chiếu</p>
      <div class="list-film row justify-content-center mt-5">
        <div
          *ngFor="let upCommingMovie of listUpCommingMovie.results"
          (click)="showDetail(upCommingMovie)"
          class="col-2 mr-4 pb-5"
        >
          <div class="card bg-dark text-white" style="width: 15.5rem">
            <img
              src="https://image.tmdb.org/t/p/w500{{
                upCommingMovie.poster_path
              }}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title mb-1">
                {{ upCommingMovie.original_title }} ({{
                  upCommingMovie.release_date | date: "yyyy"
                }})
              </h6>
              <p class="card-text">
                Rate: {{ upCommingMovie.vote_average }}
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- _________________________________________________________________ -->
    <div class="phim-bo-moi mb-5">
      <p class="content pb-2 font-weight-bold">phim đang chiếu</p>
      <div class="list-film row justify-content-center mt-5">
        <div
          class="col-2 mr-4 pb-5"
          *ngFor="let nowPlayingMovie of listNowPlayingMovie.results"
          (click)="showDetail(nowPlayingMovie)"
        >
          <div class="card bg-dark text-white" style="width: 15.5rem">
            <img
              src="https://image.tmdb.org/t/p/w500{{
                nowPlayingMovie.poster_path
              }}"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <h6 class="card-title mb-1">
                {{ nowPlayingMovie.original_title }} ({{
                  nowPlayingMovie.release_date | date: "yyyy"
                }})
              </h6>
              <p class="card-text">
                Rate: {{ nowPlayingMovie.vote_average }}
                <i class="fas fa-star"></i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
